
.about__company {
  min-height: 640px;
  display: grid;
  grid-template-columns: 1fr 453px;
  gap: 33px;
  /* height: 640px; */
  margin-left: 37px;
  margin-bottom: 175px;
}
.img {
  width: 100%;
}
.text {
  color: #535670;
  font-size: 18px;
  line-height: 1.2;
}
.block__btn {
  display: flex;
  justify-content: space-between;
}

/* Второй блок DIRECTIONS */
