.block__offers {
  margin-left: 37px;
  margin-bottom: 200px;
}
.info_offers {
  max-width: 906px;
  min-height: 216px;
  margin-bottom: 30px;
}
.directions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  grid-column-gap: 60px;
  margin-bottom: 28px;
}
.direction {
  max-width: 453px;
  min-height: 203px;
}
.direction h4 {
  color: var(--color-primary);
  font-size: 26px;
  line-height: 1.2;
}
.link__all__directions {
  display: flex;
  align-items: center;
  margin-top: 40px;
  color: #a960ab;
  font-size: 14px;
  line-height: 1;
  text-decoration: none;
}
.link__all__directions img {
  padding-left: 10px;
  scale: 0.8;
}
